@import url('https://fonts.googleapis.com/css?family=Roboto');

.pg-container{
  margin: 0;
  margin-bottom: 5%;
}

.pg-tittle1{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #30a6ff
}

.pg-p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: rgba(30, 90, 139, 0.86);
}

.glyphicon:hover{
  color: #ff706f;
}

.pg-li{
  display: inline;
  text-align: center;
  padding: 8px 20px 8px 20px;
  list-style: none;
  box-shadow: inset 0 0 0 0 rgba(205, 205, 205, 0.51);
  border-radius: 0;
}

.pg-li > a{
  color: black;
  text-decoration: none;
}

.pg-a-active{
  color: white;
  text-decoration: none;
}

.pg-a-active:focus, .pg-a-active:hover{
  color: white;
  text-decoration: none;
  cursor: default;
}

.pg-a-disable:focus, .pg-a-disable:hover{
  color:black;
  text-decoration: none;
}

/*first effect*/

.pg-effect-1{
  -webkit-transition: box-shadow  0.5s ease-out 0.1s,
  border-radius  ease-in-out 0.3s;
  -moz-transition: box-shadow  0.5s ease-out 0.1s,
  border-radius  ease-in-out 0.3s;
  transition: box-shadow  0.5s ease-out 0.1s,
  border-radius  ease-out 0.3s;
}

.pg-effect-1:hover{
  box-shadow: inset 0 0 5px 0 rgba(238, 238, 238, 0.62);
  border-radius: 3px;
}

.pg-active-1{
  padding: 8px 20px 8px 20px;
  display: inline;
  background-color: #ff706f;
  border-radius: 3px;
  cursor: default;
  list-style: none;
  text-align: center;
}

/*Second effect*/

.pg-effect-2{
  box-shadow: inset 0 0 0 0 #ff706f;
  border-radius: 0 0 3px 3px;
  transition: box-shadow ease 0.5s,
              border-radius ease 0.5s;
}

.pg-effect-2:hover{
  box-shadow: inset 0 -3px 0 0 #ff706f;
  border-radius: 0 0 3px 3px;
}

.pg-active-2{
  padding: 8px 20px 8px 20px;
  display: inline;
  border-radius: 3px;
  cursor: default;
  list-style: none;
  text-align: center;
  border-radius: 0 0 3px 3px;
  box-shadow: inset 0 -3px 0 0 #ff706f;
}

.pg-c{
  color: black;
}

/*Third effect*/

.pg-effect-3{
  box-shadow: inset 0 0 0 0 #ff706f;
  border-radius: 0 3px 0 0;
  transition: box-shadow ease 0.5s,
              border-radius ease 1s;
}

.pg-effect-3:hover{
  box-shadow: inset -2px 2px #ff706f;
  border-radius: 7px 3px 7px 0;
}

.pg-active-3{
  padding: 8px 20px 8px 20px;
  display: inline;
  cursor: default;
  list-style: none;
  text-align: center;
  box-shadow: inset -2px 2px #ff706f;
  border-radius: 7px 3px 7px 0;
}

/*Four effect*/

.pg-effect-4{
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 #d7d7d7;
  transition: box-shadow ease 0.5s,
              border-radius ease 0.5s;
}

.pg-effect-4:hover{
  border-radius: 50%;
  box-shadow: inset 0 0 5px 0 #f0f0f0;
}

.pg-active-4{
  padding: 8px 20px 8px 20px;
  display: inline;
  cursor: default;
  list-style: none;
  background-color: #ff706f;
  border-radius: 50%;
}