/**
 * Accordion
 */

/* Container */
.accordion {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
 
}

/* Input */
.accordion-input {
  display: none;
}

/* Toggle */
.accordion-toggle {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 1rem;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  font: inherit;
  line-height: inherit;
  text-align: left;
}

/* Toggle: Active State */
.accordion-input:checked + .accordion-toggle,                
  .accordion-toggle { 
   background-color:#3498db;
  border-bottom: solid 8px #2980b9;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.15);
   font:20px/1 Lobster,Arial,sans-serif;
   color:white;
}

/* Content */
.accordion-content {
  display: none; /* 1 */
  padding: 0 1rem;
  border-bottom: 1px solid #e5e5e5;
}

/* Content: Inner Elements */
.accordion-content > * {
  margin: 1rem 0;
}

/* Content: Active State */
/* 1. Show content */
.accordion-input:checked ~ .accordion-content { 
  display: block; /* 1 */ 
  font-style: sans-serif;  
}

.accordion-input:checked ~ .accordion-content,                          
.accordion-toggle + *  {       
  border-bottom: 1px solid #e5e5e5;
 
}

.accordion-toggle:hover{
  background: #385670;
}

label[for="close"] {
  display:none;
  position:relative;
}
#close{
  /*display:none;*/
}
input:checked ~ label[for="close"] {
  right:12px;
  top:158px;
  height:20px;
  width: 20px;
  text-align:center;
  display:block;
  background:#333;
  color:#fff;
  /*font-weight:bold;*/
}
